.container {
  padding: 2rem 2rem 0rem 2rem;
}

.contentDescription {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e9ec;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  width: 150px;
  height: 150px;
}

.button {
  background-color: #ed2227;
  border-radius: 8px;
  height: 40px;
}

.button:hover {
  background-color: #ed2227;
}

@media screen and (max-width: 480px) {
  .imageContainer {
    display: flex;
    justify-content: end;
    align-items: baseline;
  }

  .image {
    width: 80px;
    height: 80px;
  }
}
